 body {
    background-color: rgb(241, 191, 189);
    font-family: Arial, Helvetica, sans-serif;
 }

 .common{
    background-color: rgb(248, 184, 182);
    
    position: absolute;
 }

 .header{
    text-decoration: underline;
    z-index: 3;
   top: 5px;
   left: 5px;
   right: 5px;
   height: 90px; 
   padding-top: 20px;
   padding-left:10px;
   text-align: center;
   font-size: 34px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-bottom: solid 5px #501010;
 }

 .leftmenu{
    background-color: #501010;
    z-index: 2;
    border-right: 5px white;
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 5px;
    padding-top: 150px;
    overflow-y: auto;
    padding-left: 3px;
 
    
 }

 .mainbody{
    font-size: 12px;
    padding-left: 15px;
    padding-top: 15px;
     top: 114px;
     left: 114px;
     right: 114px;
     bottom: 39px;
     padding-right: 300px;
 }

 .rightmenu{
    text-align: center;
    padding-top: 75px;
    padding-left: 3px;
     z-index: 1;
     top: 114px;
     right: 5px;
     width: 300px;
     bottom: 39px;
     border-left: solid 5px #501010;
 }

 .footer{
    z-index: 4;
    border-top: solid 5px #501010;
     bottom: 5px;
     left: 5px;
     right: 5px;
     height: 25px;
     text-align: center;
     padding-top: 15px;
     position: fixed;
     color: #501010;
 }
.subheader{
    float: right;
    padding-bottom: 20px;
    font-size: 15px;
}

.centerimage{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.links{
    color: #320a0a;
    text-decoration: none;
}

.othersubheader{
    float: left;
    font-size: small;
}

.h4{
    font-size: Large;
}

